<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangzi.main.authority.mapper.SYSRoleMapper">

    <!--获取数据列表-->
    <select id="list" resultType="SYSRole">
        select
          sysRole.id,
          sysRole.role_namey,
          sysRole.role_namez,
          sysRole.delete_flag,
          sysRole.create_time,
          sysRole.update_time
        from sys_role sysRole
        where sysRole.delete_flag = 0

        <if test=" condition.roleNamey != null and condition.roleNamey != '' ">
            and ( sysRole.role_namey like '%${ condition.roleNamey }%' or sysRole.role_namez like '%${ condition.roleNamey }%' )
        </if>

        order by sysRole.update_time desc

    </select>

    <!--获取数据总数-->
    <select id="total" resultType="Integer">
        select
          count(*)
        from sys_role sysRole
        where sysRole.delete_flag = 0

        <if test=" condition.roleNamey != null and condition.roleNamey != '' ">
            and ( sysRole.role_namey like '%${ condition.roleNamey }%' or sysRole.role_namez like '%${ condition.roleNamey }%' )
        </if>

    </select>

    <!-- 根据角色 id 获取角色对应权限 -->
    <select id="permRoleList" resultType="SYSPermission">
        select
            perm.id,
            perm.parent_id,
            perm.perm_name,
            perm.perm_url,
            perm.router_component,
            perm.router_path,
            perm.router_icon,
            perm.router_hidden,
            perm.perm_type,
            perm.perm_sort
        from sys_role role
        left join sys_perm_role permRole
        on permRole.delete_flag = 0
        and permRole.role_id = role.id
        left join sys_permission perm
        on permRole.delete_flag = 0
        and permRole.perm_id = perm.id
        where perm.delete_flag = 0
        and role.id = #{ condition }
    </select>

</mapper>


