<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangzi.main.web.mapper.CommentMapper">

    <!-- 获取评论列表 -->
    <select id="getList" resultType="CommentEntity">
        select
            comment.id,
            comment.blog_id,
            comment.parent_id,
            comment.user_id,
            users.user_account as userName,
            users.user_logo as userLogo,
            comment.comment,
            comment.create_time
        from bus_comment comment
        left join bus_user users
        on users.delete_flag = 0
        and users.id = comment.user_id
        where comment.delete_flag = 0
        and comment.blog_id = #{condition.blogId}
    </select>

</mapper>








