<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangzi.main.ma.mapper.EventsMapper">

    <!-- 列表 -->
    <select id="getList" resultType="EventsEntity">
        select
            events.*
        from ma_events events
        where events.delete_flag = 0

        <if test="condition.userId != null and condition.userId != ''">
            and events.user_id = #{ condition.userId }
        </if>

        order by events.event_time

    </select>

    <!-- 数量 -->
    <select id="getTotal" resultType="Integer">
        select
            count(*)
        from ma_events events
        where events.delete_flag = 0

        <if test="condition.userId != null and condition.userId != ''">
            and events.user_id = #{ condition.userId }
        </if>

    </select>

</mapper>



